<div class="docs">
  <!-- <p class="docs__title">Документы</p> -->

  <div class="projects">
    <div
      class=""
      data-aos="fade-right"
      data-aos-offset="-200"
      data-aos-delay="0"
      data-aos-duration="600"
      data-aos-easing="ease-out"
      data-aos-mirror="true"
      data-aos-once="true"
      data-aos-anchor-placement="top-center"
    >
      @include('./document.html')
    </div>
    <div
      class=""
      data-aos="fade-right"
      data-aos-offset="-200"
      data-aos-delay="300"
      data-aos-duration="600"
      data-aos-easing="ease-out"
      data-aos-mirror="true"
      data-aos-once="true"
      data-aos-anchor-placement="top-center"
    >
      @include('./document.html')
    </div>
    <div
      class=""
      data-aos="fade-right"
      data-aos-offset="-200"
      data-aos-delay="600"
      data-aos-duration="600"
      data-aos-easing="ease-out"
      data-aos-mirror="true"
      data-aos-once="true"
      data-aos-anchor-placement="top-center"
    >
      @include('./document.html')
    </div>
    <div
      class=""
      data-aos="fade-right"
      data-aos-offset="-200"
      data-aos-delay="0"
      data-aos-duration="600"
      data-aos-easing="ease-out"
      data-aos-mirror="true"
      data-aos-once="true"
      data-aos-anchor-placement="top-center"
    >
      @include('./document.html')
    </div>
    <div
      class=""
      data-aos="fade-right"
      data-aos-offset="-200"
      data-aos-delay="300"
      data-aos-duration="600"
      data-aos-easing="ease-out"
      data-aos-mirror="true"
      data-aos-once="true"
      data-aos-anchor-placement="top-center"
    >
      @include('./document.html')
    </div>
    <div
      class=""
      data-aos="fade-right"
      data-aos-offset="-200"
      data-aos-delay="600"
      data-aos-duration="600"
      data-aos-easing="ease-out"
      data-aos-mirror="true"
      data-aos-once="true"
      data-aos-anchor-placement="top-center"
    >
      @include('./document.html')
    </div>
    <div
      class=""
      data-aos="fade-right"
      data-aos-offset="-200"
      data-aos-delay="0"
      data-aos-duration="600"
      data-aos-easing="ease-out"
      data-aos-mirror="true"
      data-aos-once="true"
      data-aos-anchor-placement="top-center"
    >
      @include('./document.html')
    </div>
    <div
      class=""
      data-aos="fade-right"
      data-aos-offset="-200"
      data-aos-delay="300"
      data-aos-duration="600"
      data-aos-easing="ease-out"
      data-aos-mirror="true"
      data-aos-once="true"
      data-aos-anchor-placement="top-center"
    >
      @include('./document.html')
    </div>
    <div
      class=""
      data-aos="fade-right"
      data-aos-offset="-200"
      data-aos-delay="600"
      data-aos-duration="600"
      data-aos-easing="ease-out"
      data-aos-mirror="true"
      data-aos-once="true"
      data-aos-anchor-placement="top-center"
    >
      @include('./document.html')
    </div>
  </div>
</div>
