<div class="document">
  <div>
    <p>Распоряжение Правительства РФ от 27.12.2019 № 3249-р.pdf</p>
  </div>
  <a href="" download="">
    <div class="document__download">
      <span>
        <div class="document__link">
          <svg class="document__link document__link-short document__link-hover" style="fill: var(--light-color);">
            <use xlink:href="img/sprite.svg#arrowDown"></use>
          </svg>
          <svg class="document__link document__link-short document__link-base" style="fill: var(--light-color);">
            <use xlink:href="img/sprite.svg#arrowDown"></use>
          </svg>
        </div>
        <p>Скачать</p>

      </span>
    </div>
  </a>
</div>
