<div class="projects">
  <a href="#" class="card projects__card">
    <div class="card__img">
      <img src="img/home_bg.jpg" alt="Картинка карточки" />
      <div class="card__tags">
        <div class="card__tag card__tag-main">
          <svg class="">
            <use xlink:href="img/sprite.svg#logoSmall"></use>
          </svg>
        </div>
        <div class="card__tag card__tag-food">
          <span>ЕДА</span>
        </div>
        <div class="card__tag card__tag-science"><span>НАУКА</span></div>
        <div class="card__tag card__tag-home"><span>ЖИЛЬЁ</span></div>
      </div>
    </div>
    <div class="card__wrapper">
      <div class="card__body">
        <h3>
          Наименование проекта в несколько строк что бы уместилось все самое
          главнок что точно нужно расскахать о проекте Наименование проекта в
          несколько строк что бы уместилось все самое главнок что точно нужно
          расскахать о проекте
        </h3>
        <span
          >Мы любим животных и стараемся поддерживать тех из них, кому не
          посчастливилось иметь ласковых хозяев и тёплый кро Мы любим животных и
          стараемся поддерживать тех из них, кому не посчастливилось иметь
          ласковых хозяев и тёплый кро Мы любим животных и стараемся
          поддерживать тех из них, кому не посчастливилось иметь ласковых хозяев
          и тёплый кро Мы любим животных и стараемся поддерживать тех из них,
          кому не посчастливилось иметь ласковых хозяев и тёплый кро Мы любим
          животных и стараемся поддерживать тех из них, кому не посчастливилось
          иметь ласковых хозяев и тёплый кро Мы любим животных и стараемся
          поддерживать тех из них, кому не посчастливилось иметь ласковых хозяев
          и тёплый кро Мы любим животных и стараемся поддерживать тех из них,
          кому не посчастливилось иметь ласковых хозяев и тёплый кро Мы любим
          животных и стараемся поддерживать тех из них, кому не посчастливилось
          иметь ласковых хозяев и тёплый кро Мы любим животных и стараемся
          поддерживать тех из них, кому не посчастливилось иметь ласковых хозяев
          и тёплый кро Мы любим животных и стараемся поддерживать тех из них,
          кому не посчастливилось иметь ласковых хозяев и тёплый кро Мы любим
          животных и стараемся поддерживать тех из них, кому не</span
        >
      </div>
      <div class="card__footer">
        <span>09.09.2023</span>
        <div class="card__link">
          <svg
            class="card__link card__link-long card__link-hover"
            style="fill: var(--brown-color)"
          >
            <use xlink:href="img/sprite.svg#arrowRightLong"></use>
          </svg>
          <svg
            class="card__link card__link-long card__link-base"
            style="fill: var(--brown-color)"
          >
            <use xlink:href="img/sprite.svg#arrowRightLong"></use>
          </svg>
          <svg
            class="card__link card__link-short card__link-hover"
            style="fill: var(--brown-color)"
          >
            <use xlink:href="img/sprite.svg#arrowRight"></use>
          </svg>
          <svg
            class="card__link card__link-short card__link-base"
            style="fill: var(--brown-color)"
          >
            <use xlink:href="img/sprite.svg#arrowRight"></use>
          </svg>
        </div>
      </div>
    </div>
  </a>

  <a
    href="#"
    class="projects-more"
    style="background-color: var(--brown-color)"
  >
    <div class="card__body">
      <h3>
        Станьте частью Комфортной среды и примите участие в проектах для Станьте
        частью Комфортной среды и примите участие в проектах для ...
      </h3>
    </div>
    <div class="card__link projects-more__link">
      <svg
        class="card__link card__link-long card__link-hover"
        style="fill: #fff"
      >
        <use xlink:href="img/sprite.svg#arrowRightLong"></use>
      </svg>
      <svg
        class="card__link card__link-long card__link-base"
        style="fill: #fff"
      >
        <use xlink:href="img/sprite.svg#arrowRightLong"></use>
      </svg>
      <svg
        class="card__link card__link-short card__link-hover"
        style="fill: #fff"
      >
        <use xlink:href="img/sprite.svg#arrowRight"></use>
      </svg>
      <svg
        class="card__link card__link-short card__link-base"
        style="fill: #fff"
      >
        <use xlink:href="img/sprite.svg#arrowRight"></use>
      </svg>
    </div>
  </a>

  @include('card.html', {"color": "var(--brown-color)"}) @include('card.html',
  {"color": "var(--brown-color)"}) @include('card.html', {"color":
  "var(--brown-color)"})
</div>
