<div
  class="quote"
  style="border-color: @color"
  data-scroll
  data-scroll-speed="0.1"
>
  <svg class="">
    <use xlink:href="img/sprite.svg#quote" style="fill: @color"></use>
  </svg>
  <p
    data-aos="fade-up"
    data-aos-offset="-200"
    data-aos-delay="0"
    data-aos-duration="600"
    data-aos-easing="ease-out"
    data-aos-mirror="true"
    data-aos-once="true"
    data-aos-anchor-placement="top-center"
  >
    Приоритетным направлением для ФГБУ «Комфортная среда» является реализация
    проекта по развитию экосистемы студенческих гостиниц. Цель проекта -
    повышение конкурентоспособности и экспортного потенциала российского
    образования.
  </p>
</div>
