<div class="swiper-container custom-slider">
  <div class="swiper-wrapper">
      <div class="swiper-slide">
          <img src="../../img/home_bg.jpg" alt="Slide 1">
      </div>
      <div class="swiper-slide">
          <img src="../../img/home_bg.jpg" alt="Slide 2">
      </div>
      <div class="swiper-slide">
        <img src="../../img/home_bg.jpg" alt="Slide 3">
    </div>
    <div class="swiper-slide">
      <img src="../../img/home_bg.jpg" alt="Slide 4">
  </div>
  </div>
  <!-- Кнопки для переключения -->
  <div class="swiper-button-next">
    <svg class="">
      <use xlink:href="img/sprite.svg#arrowRight"></use>
    </svg>
  </div>
  <div class="swiper-button-prev">
    <svg class="">
      <use xlink:href="img/sprite.svg#arrowRight"></use>
    </svg>
  </div>
</div>
