.info {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  p {
    margin: 0;
    font-size: 36px;
    line-height: 48px;
    color: var(--black-color);
    width: 100%;
    font-weight: 300;
  }
  &__text {
    max-width: 55%;
  }
}

@include tablet {
  .info{
    &__text {
      max-width: 80%;
    }
    p {
      font-size: 32px;
      line-height: 38px;
    }
    svg {
      height: 80px;
      width: 80px;
    }
  }

}

@include small-tablet {
  .info {
    flex-direction: column-reverse;
    gap: 12px;
    p {
      max-width: 100%;
      font-size: 18px;
      line-height: 19px;
      font-weight: 300;
    }
    svg {
      height: 40px;
      width: 40px;
    }
  }
}
