.quote {
  border: 1px solid var(--brown-color);
  position: relative;

  svg {
    width: 54px;
    height: 30px;
    fill: var(--brown-color);
    position: absolute;
    top: -15px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  p {
    font-size: 48px;
    line-height: 54px;
    font-weight: 300;
    padding: 180px 230px;
    text-align: center;
    margin: 0;
    color: var(--black-color);
  }
}

@include tablet {
  .quote {
    p {
      font-size: 36px;
      line-height: 44px;
      max-width: 80%;
      padding: 140px 0;
      margin: 0 auto;
    }
  }
}

@include small-tablet {
  .quote {
    p {
      padding: 40px 0;
      font-size: 16px;
      line-height: 18.4px;
    }
    svg {
      width: 29px;
      height: 16px;
      top: -8px;
    }
  }
}
