.housing {

  padding-top: 60px;

  &__title {
    display: flex;
    justify-content: space-between;
    gap: 11vw;
    align-items: center;

    >p {
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;
      color: var(--gray-color);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0;
      max-width: 40%;
      >a {
        font-weight: 300;
        font-size: 22px;
        line-height: 26px;
        color: var(--gray-color);
        text-decoration: underline;
      }
    }

  }
}

.slider {
  margin-top: 20px;
  overflow: hidden;
}

@include tablet {
  .housing {
    &__title {
      flex-direction: column;
      align-items: start;
      gap: 8px;
      >p {
        font-size: 20px;
        line-height: 23px;
        max-width: 70%;
      }
    }
  }
}


@include small-tablet {
  .housing {
    padding-top: 40px;
    &__title {
      >p {
        font-size: 16px;
        line-height: 18.4px;
        max-width: 90%;
      }
    }
  }
}
