.about {
  margin-top: 200px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__block {
    display: flex;
    justify-content: space-between;

    p {
      margin: 0;
      margin-top: 40px;
      max-width: 33%;
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;
      color: var(--gray-color);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      max-width: 33%;
      gap: 20px;

      p {
        max-width: none;
        margin: 0;
      }
    }
  }

  &__img {
    width: 59vw;
    height: 30vw;

  }
}

.map {
  position: relative;

  >p {
    margin: 0;
    position: absolute;
    top: 0;
    left: 80px;
    font-size: 64px;
    font-weight: 500;
  }

  img {
    width: 100%;
  }
}

.info {
  &__container {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--brown-color);


    &:hover {
      opacity: 0.8;
      transition: opacity 0.3s ease-in-out;
      & .card__link {
        &-base {
          transform: translateX(100%);
        }

        &-hover {
          transform: translateX(0);
        }
      }
    }

  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: none;
    padding: 47.5px 0 47.5px 40px;

    p {
      font-size: 32px;
      line-height: 37px;
      color: var(--black-color);
      font-weight: 300;
      margin: 0;

    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px 0 48px;
    background-color: var(--brown-color);

    svg {
      fill: var(--light-color);
    }
  }
}




@include big-desktop {
  .map {
    >p {
      left: 60px;
    }
  }

  .info {
    &__text {
      max-width: 60%;
    }
  }
}

@include tablet {
  .map {
    >p {
      font-size: 26px;
      line-height: 30px;
    }
  }

  .about {
    margin-top: 110px;

    &__block {
      flex-direction: column;
      gap: 8px;

      p {
        max-width: none;
        font-size: 16px;
        line-height: 18.4px;
        margin-top: 0px;
      }

      div {
        max-width: none;
      }
    }

    &__img {
      width: 100%;
      height: auto;
      margin: 0 0 12px;
    }

  }

  .info {
    &__container {
      flex-direction: column;
      margin-top: 40px;
    }

    &__text {
      max-width: none;
      padding: 20px 20px 40px 20px;

      p {
        font-size: 18px;
        line-height: 20.7px;
      }
    }

    &__button {
      padding: 20px;
      justify-content: end;

    }
  }
}


@include small-tablet {
  .map {
    >p {
      left: 0;
      position: relative;
      font-size: 58px;
    }
  }

  .about {
    &__block {
      p {
        margin-top: 0;
        max-width: none;
        font-size: 20px;
        line-height: 23px;
      }

      div {
        max-width: none;
        gap: 20px;
      }
    }

    &__img {
      width: auto;
    }
  }
}

