<footer class="footer" style="background-color: @color;" >
  <div class="footer__inner container">
    <a href="index.html" class="footer__logo">
      <span title="Главная страница">@text</span>
      <div title="Главная страница">
        <svg class="">
          <use xlink:href="img/sprite.svg#logo"></use>
        </svg>
      </div>
    </a>
    <div class="footer__wrap">
      <div class="footer__content footer__text">
        <p class="footer__text footer__text-bold footer__text-medium">ФГБУ "Комфортная среда"</p>
        <a class="footer__text footer__text-big" href="tel:+74991247707">+7 (499) 124 77 07</a>
        <a class="footer__text" href="mailto:info@comfort-sr.ru">info@comfort-sr.ru</a>
        <div class="footer__timetable">
          <h6 class="footer__text footer__text-bold">Время работы:</h6>
          <p class="footer__text">Пн-Чт с 9:00 до 18:00, </br>
            Пт с 9:00 до 16:45</p>
        </div>
        <p class="footer__text">117312 , г. Москва, ул. Вавилова, д. 39</p>
      </div>


      <div class="footer__content">
        <p class="footer__text footer__text-medium footer__text-bold">Передача корреспонденции</p>
        <div class="footer__timetable">
          <h6 class="footer__text footer__text-bold">Время работы:</h6>
          <p class="footer__text">Пн-Чт с 9:00 до 18:00, </br>
            Пт с 9:00 до 16:45</p>
        </div>
      </div>
      <a class="footer__logo-big" href="#">
        <svg class="">
          <use xlink:href="img/sprite.svg#logoBig" style="fill: @purpleLogo"></use>
        </svg>
      </a>
    </div>
      <script src="https://lidrekon.ru/slep/js/jquery.js"></script>
  <script src="https://lidrekon.ru/slep/js/uhpv-full.min.js"></script>
</footer>
