<header class="header" style="background-color: @color;">
  <div class="container header__inner">
    <a href="index.html" class="footer__logo">
      <span title="Главная страница">@text</span>
      <div title="Главная страница">
        <svg class="">
          <use xlink:href="img/sprite.svg#logo"></use>
        </svg>
      </div>
    </a>
    <div class="header__right">
      <nav class="header__nav">
        <!-- <a href="#" class="bvi-open" title="Версия сайта для слабовидящих">Версия сайта для слабовидящих</a> -->
        <ul>
          <li><a href="projects.html">Проекты</a></li>
          <li><a href="housing.html">Жильё</a></li>
          <li><a href="food.html">Еда</a></li>
          <li><a href="science.html">Наука</a></li>
          <li><a href="about.html">О компании</a></li>
          <li><a href="press.html">Пресс-центр</a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
      </nav>
      <div class="header__social">
        <a href="#">
          <svg class="">
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a>
        <a href="#">
          <svg class="">
            <use xlink:href="img/sprite.svg#tg"></use>
          </svg>
        </a>
      </div>
      <button
        class="btn-reset burger"
        aria-label="Открыть меню"
        aria-expanded="false"
        data-burger
      >
        <span class="burger__line"></span>
      </button>
    </div>
  </div>

  <div class="burger__menu" data-menu style="background-color: @color;">
    <nav class="">
      <ul>
        <li><a href="projects.html">Проекты</a></li>
        <li><a href="housing.html">Жильё</a></li>
        <li><a href="food.html">Еда</a></li>
        <li><a href="science.html">Наука</a></li>
        <li><a href="about.html">О компании</a></li>
        <li><a href="press.html">Пресс-центр</a></li>
        <li><a href="contacts.html">Контакты</a></li>
      </ul>
    </nav>
    <div class="header__social" style="margin-top: 40px;">
      <a href="#">
        <svg class="">
          <use xlink:href="img/sprite.svg#vk"></use>
        </svg>
      </a>
      <a href="#">
        <svg class="">
          <use xlink:href="img/sprite.svg#tg"></use>
        </svg>
      </a>
    </div>
  </div>
</header>
