.projects__container {
  display: flex;
  width: 100%;
}

.button {
  border: none;
  width: 100%;
  font-size: 64px;
  color: var(--light-color);
  font-weight: 500;
  padding: 47px 0;
  cursor: pointer;
  background-color: var(--gray-color);
  transition: all 0.4s linear;

  &-alternative {
    background-color: var(--gray-light-color);
  }

  // Активное состояние
  &.active {
    &.all-active {
      background-color: var(--brown-color);
    }

    &.home-active {
      background-color: var(--purple-color);
    }

    &.food-active {
      background-color: var(--green-color);
    }

    &.science-active {
      background-color: var(--blue-color);
    }
  }

  // Ховеры
  &:hover {
    &.all-active {
      background-color: var(--brown-color);
    }

    &.home-active {
      background-color: var(--purple-color);
    }

    &.food-active {
      background-color: var(--green-color);
    }

    &.science-active {
      background-color: var(--blue-color);
    }
  }
}

.buttons__container {
  display: flex;
  width: 100%;

}

// Медиазапросы
@include tablet {
  .button {
    font-size: 48px;
    line-height: 54px;
    font-weight: 400;
    padding: 36px 0;
  }
}

@include small-tablet {
  .projects__container {
    flex-wrap: wrap;
  }

  .buttons__container-rev {
    flex-direction: row-reverse;
  }

  .button {
    width: 50%;
  }
}
