// colors
:root {
  // base
  --font-family: "TTCommons", sans-serif;
  --content-width: 100%;
  --container-offset: 80px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --black-color: #2B2B2B;
  --light-color: #fff;
  --brown-color: #8b714b;
  --brown-light-color: #977C53;
  --purple-color: #694b8b;
  --green-color: #196855;
  --blue-color: #004aa1;
  --gray-color: #888888;
}

@media (max-width: (1600px)) {
  :root {
    --container-offset: 60px;
  }
}

@media (max-width: (1600px)) {
  :root {
    --container-offset: 60px;
  }
}

@media (max-width: (768px)) {
  :root {
    --container-offset: 20px;
  }
}
